.up {
  position: absolute;
  left: 50%;
  bottom: 0;
  /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: -34px;
  
    transform: translateY(-45px); */
}

.upicon {
  max-width: 30px;
}
