html,
body {
  /* background-color: #005a53; */
  height: 100%;
  margin: 0;
  font-family: "Dosis", sans-serif;
}

.first {
  position: relative;
  background-color: #005a53;
  color: #9fe4db;
}

.second {
  position: relative;
  background-color: #009878;
  color: #9fe4db;
}

.third {
  position: relative;
  background-color: #9fe4db;
  color: #005a53;
}
